@import "./partials/admin/sidebar";
@import "./partials/admin/header";

// LAYOUT
body {
  min-height: 100vh;
  overflow-x: hidden;
}

#wrapper {
  min-height: 100vh;
}

#content-wrapper {
  width: 100%;
}

#content {
  height: 100%;
}


