#sidebar {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-width: 280px;
  top: 0;
  left: -280px;
  transition: all .3s ease;
  z-index: 5;
  @include media-breakpoint-up(lg) {
    position: relative;
    left: 0;
  }
}

#wrapper.sidebar-show
{
  #sidebar {
    left: 0;
  }

  #content-wrapper {
    transition: all .3s ease;
    padding-left: 280px;
    #content {
      min-width: 350px;
    }
  }
}

#wrapper.sidebar-hide #sidebar {
  @include media-breakpoint-up(lg) {
    left: -280px;
    position: absolute;
  }
}

// SIDEBAR
.nav-link {
  margin-bottom: .25rem;
  &:hover {
    color: #fff;
    background-color: $primary;
  }
}
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: $gray-100;
  background-color: transparent;
  border: 0;
  width: 100%;
}
.btn-toggle:hover {
  color: #fff;
  background-color: $primary;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  margin-right: 10px;
}

// .btn-toggle[aria-expanded="true"] {
//   color: rgba(0, 0, 0, .85);
// }
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.breadcrumb {
  margin-bottom: 0;
  margin-left: .75rem;
}

#sidebarToggler {
  background: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2832, 32, 32, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 28px;
  height: 28px;
  border: none;
}
